body {
  margin: 0;
}

.section {
  height: 100vh;
  background: rgb(243, 230, 230);
}

.section:nth-child(2n) {
  background: rgb(150, 4, 4);
}

.fixed {
  position: fixed;
  left: 50px;
  right: 50px;
  bottom: 50px;
  top: 50px;
  box-shadow: 0 0 0 1px black;
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: rgb(150, 4, 4);
}

.menu {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgb(150, 4, 4);
}

.pager {
  position: absolute;
  left: 0;
  top: 150px;
}

.pager__link {
  display: block;
  margin: 10px 0;
  width: 10px;
  height: 10px;
  box-shadow: inset 0 0 0 2px rgb(150, 4, 4);
  transition: .2s opacity ease-in-out;
}

.pager__link--active {
  box-shadow: inset 0 0 0 5px rgb(150, 4, 4);
}

.pager--contrast .pager__link {
  box-shadow: inset 0 0 0 2px rgb(243, 230, 230);
}
.pager--contrast .pager__link--active {
  box-shadow: inset 0 0 0 5px rgb(243, 230, 230);
}

.logo--contrast,
.menu--contrast {
  background-color: rgb(243, 230, 230);
}

.menu__link {
  color: black; 
  font-size: 2rem;
  text-decoration: none;
}

@media (min-width: 768px) {
  .menu__link {
    font-size: 4rem;
  }
}

.menu--contrast .menu__link {
  color: red;
}

.grid {
  display: flex;
  flex-wrap: nowrap;
}
.col {
  height: 100vh;
}
.alpha {
  flex-basis: 16.666666666666664vw;
}
.alpha-beta {
  flex-basis: 45.83333333333333vw;
}
.alpha-beta-gamma {
  flex-basis: 100vw;
}
.beta {
  flex-basis: 29.166666666666668vw;
}
.beta-gamma {
  flex-basis: 83.33333333333334vw;
}
.gamma {
  flex-basis: 54.166666666666664vw;
}