.immerser {
  pointer-events: none;
  touch-action: none;

  &__mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  &__solid {
    pointer-events: all;
    touch-action: auto;
  }
}