@import '../shared/globals.scss';

.about {
  padding-bottom: $base - 2px;
  margin: 0 $base * -1;

  @at-root #{$cyrillic-modifier} & {
    padding-bottom: $base - 1px;
    font-size: 14px;
    letter-spacing: -0.01em;
  }
  color: $color-text;
  &--contrast {
    color: $color-text--contrast;
  }
  span, a {
    display: inline-block;
    padding-left: $base;
    color: inherit;
    @include transition('color');
    @include from('lg') {
      padding-right: $base;
    }
  }
}
