@import '../shared/globals.scss';

.background {
  background: $color-background;
  color: $color-background--contrast;

  &-contrast {
    background: $color-background--contrast;
    color: $color-text--contrast;
  }
}