@use 'sass:color';
@use 'sass:math';
@use '../shared/globals.scss' as *;

html {
  scroll-behavior: smooth;
  font-family: 'Questrial', 'Montserrat', sans-serif;
  letter-spacing: 0.01em;

  &#{$cyrillic-modifier} {
    font-family: 'Montserrat', sans-serif;
  }
}

*::selection {
  background: $color-marker;
  color: $color-secondary;
}
*::-moz-selection {
  background: $color-marker;
  color: $color-secondary;
}

@include from('md') {
  .tall {
    box-sizing: border-box;
    min-height: 100vh;
  }

  .start {
    padding-top: $base * 4.875;
    @include from('lg') {
      padding-top: $base * 6.375;
    }
  }

  .end {
    padding-bottom: $base * 5;
  }

  .as-if-title {
    height: $base * 6;
  }
}

.background {
  background: $color-background;
  color: $color-background--contrast;
  &--contrast {
    background: $color-background--contrast;
    color: $color-text--contrast;
  }
}

.code-background {
  background-color: $color-code-background;
  @include from('md') {
    background-color: transparent;
  }
}

.scroller-x {
  overflow-y: hidden;

  &.background .simplebar-scrollbar:before {
    background: color.scale($color-accent, $lightness: 62%, $saturation: -62%);
  }
  &.background .simplebar-scrollbar.simplebar-hover:before {
    background: color.scale($color-accent, $lightness: 62% + 5%, $saturation: -62% + 5%);
  }

  &.background--contrast .simplebar-scrollbar:before {
    background: color.scale($color-highlight, $lightness: -62%, $saturation: -62%);
  }
  &.background--contrast .simplebar-scrollbar.simplebar-hover:before {
    background: color.scale($color-highlight, $lightness: -62% + 5%, $saturation: -62% + 5%);
  }

  .simplebar-track.simplebar-horizontal {
    height: $base;
    .simplebar-scrollbar {
      height: $base;
      top: 0;
      &.simplebar-visible:before {
        border-radius: 0;
        height: $base;
        left: 0;
        right: 0;
        opacity: 1;
      }
    }
  }
}

a:hover,
a._hover {
  color: $color-active !important;
}

.rulers {
  $ruler-color: rgba(magenta, 0.3);
  $horizontal-ruler-gutter: $base * 1.5;
  $vertical-ruler-gutter: 4.1666666666666664%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;

  display: none;
  &--active {
    display: block;
  }

  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent $horizontal-ruler-gutter - 1,
    $ruler-color $horizontal-ruler-gutter - 1,
    $ruler-color $horizontal-ruler-gutter
  );

  &:after {
    content: '';
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    pointer-events: none;
    background-image: repeating-linear-gradient(
      to right,
      transparent,
      transparent calc(#{math.div($vertical-ruler-gutter, 2)} - 1px),
      $ruler-color calc(#{math.div($vertical-ruler-gutter, 2)} - 1px),
      $ruler-color math.div($vertical-ruler-gutter, 2)
    );
  }
}
