@use '../shared/globals.scss' as *;

.emoji {
  $emoji: &;
  position: relative;
  &__face {
    display: block;
    overflow: visible;
    cursor: pointer;
  }
  &__hand {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    touch-action: none;
    transform-origin: left bottom;
  }
  &__stroke-path {
    stroke-width: 5;
    stroke: $color-secondary;
    transform-box: fill-box;
    transform-origin: 50% 50%;

    &--thin {
      stroke-width: 2;
    }
  }
  &__fill {
    fill: $color-primary;
    transform-box: fill-box;
    transform-origin: 50% 50%;
  }
  &--inverse {
    color: $color-text--contrast;
    #{$emoji}__stroke-path {
      stroke: $color-primary;
    }
    #{$emoji}__fill {
      fill: $color-secondary;
    }
  }
}
