@use '../shared/globals.scss' as *;

.fixed {
  display: none;
  @include from('md') {
    position: fixed;
    display: block;
    top: $base * 2;
    bottom: $base * 2;
    left: $col-width * 0.5;
    right: $col-width * 0.5;
    z-index: 2;

    &__pager {
      position: absolute;
      top: 50%;
      right: 0;
      @include from('lg') {
        right: auto;
        left: 0;
      }
      transform: translate(0, -50%);
    }

    &__logo {
      position: absolute;
      top: 0;
      left: 0;
    }

    &__menu {
      position: absolute;
      top: 0;
      right: 0;
    }

    &__language {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &__about {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &__emoji {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}
