@use '../shared/globals.scss' as *;

.footer {
  margin-top: $base * 1.5;
  padding-top: $base * 1.5;
  padding-bottom:  $base * 1.5;
  line-height: $base * 1.5;
  @include show-from-to('xs', 'md') {
    padding-left: $col-width * 2;
    padding-right: $col-width * 2;
    @include from('sm') {
      padding-left: $col-width;
      padding-right: $col-width;
    }
  }
}
