@use '../shared/globals.scss' as *;

.header {
  padding-top: $base * 2;
  padding-bottom:  $base * 0.28;
  @include show-from-to('xs', 'md') {
    padding-left: $col-width * 2;
    padding-right: $col-width * 2;
    @include from('sm') {
      padding-left: $col-width;
      padding-right: $col-width;
    }
  }
}
