@use '../shared/globals.scss' as *;

.menu {
  $menu: &;
  display: flex;
  margin: 0 $base * -1;

  &__link {
    color: black;
    display: block;
    font-size: $base;
    line-height: 1;
    text-decoration: none;
    padding: 26px $base;
    @include transition('color');
    @at-root #{$cyrillic-modifier} & {
      font-size: 14px;
      letter-spacing: -0.03em;
      padding-top: 28px;
    }
  }

  &--contrast #{$menu}__link {
    color: $color-text--contrast;
  }
}
