@import '../shared/globals.scss';

.social {
  color: $color-text;
  &--contrast a {
    color: $color-text--contrast;
  }
  @include from('lg') {
    &--contrast-lg {
      color: $color-text--contrast;
    }
  }
  @include from-to('md', 'lg') {
    &--contrast-only-md {
      color: $color-text--contrast;
    }
  }
  a {
    color: inherit;
    display: inline-block;
    margin-right: 0.8em;
  }
}
