<table>
  <thead>
    <tr>
      <th class="token property"><%= getTranslation('event') %></th>
      <th class="token property"><%= getTranslation('arguments') %></th>
      <th class="token property"><%= getTranslation('description') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>init</td>
      <td class="nowrap"><span class="token parameter">immerser</span><span class="token operator">:</span> <span class="token class-name">Immerser</span></td>
      <td><%= getTranslation('event-init') %></td>
    </tr>
    <tr>
      <td>bind</td>
      <td class="nowrap"><span class="token parameter">immerser</span><span class="token operator">:</span> <span class="token class-name">Immerser</span></td>
      <td><%= getTranslation('event-bind') %></td>
    </tr>
    <tr>
      <td>unbind</td>
      <td class="nowrap"><span class="token parameter">immerser</span><span class="token operator">:</span> <span class="token class-name">Immerser</span></td>
      <td><%= getTranslation('event-unbind') %></td>
    </tr>
    <tr>
      <td>destroy</td>
      <td class="nowrap"><span class="token parameter">immerser</span><span class="token operator">:</span> <span class="token class-name">Immerser</span></td>
      <td><%= getTranslation('event-destroy') %></td>
    </tr>
    <tr>
      <td>activeLayerChange</td>
      <td class="nowrap"><span class="token parameter">layerIndex</span><span class="token operator">:</span> <span class="token class-name">number</span>, <span class="token parameter">immerser</span><span class="token operator">:</span> <span class="token class-name">Immerser</span></td>
      <td><%= getTranslation('event-activeLayerChange') %></td>
    </tr>
    <tr>
      <td>layersUpdate</td>
      <td class="nowrap"><span class="token parameter">layersProgress</span><span class="token operator">:</span> <span class="token class-name">number[]</span>, <span class="token parameter">immerser</span><span class="token operator">:</span> <span class="token class-name">Immerser</span></td>
      <td><%= getTranslation('event-layersUpdate') %></td>
    </tr>
  </tbody>
</table>
