<table>
  <thead>
    <tr>
      <th class="token property"><%= getTranslation('name') %></th>
      <th class="token property"><%= getTranslation('type') %></th>
      <th class="token property"><%= getTranslation('description') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>debug</td>
      <td class="token keyword">property</td>
      <td><%= getTranslation('public-field-debug') %></td>
    </tr>
    <tr>
      <td>bind</td>
      <td class="token keyword">method</td>
      <td><%= getTranslation('public-field-bind') %></td>
    </tr>
    <tr>
      <td>unbind</td>
      <td class="token keyword">method</td>
      <td><%= getTranslation('public-field-unbind') %></td>
    </tr>
    <tr>
      <td>destroy</td>
      <td class="token keyword">method</td>
      <td><%= getTranslation('public-field-destroy') %></td>
    </tr>
    <tr>
      <td>render</td>
      <td class="token keyword">method</td>
      <td><%= getTranslation('public-field-render') %></td>
    </tr>
    <tr>
      <td>syncScroll</td>
      <td class="token keyword">method</td>
      <td><%= getTranslation('public-field-syncScroll') %></td>
    </tr>
    <tr>
      <td>on</td>
      <td class="token keyword">method</td>
      <td><%= getTranslation('public-field-on') %></td>
    </tr>
    <tr>
      <td>once</td>
      <td class="token keyword">method</td>
      <td><%= getTranslation('public-field-once') %></td>
    </tr>
    <tr>
      <td>off</td>
      <td class="token keyword">method</td>
      <td><%= getTranslation('public-field-off') %></td>
    </tr>
    <tr>
      <td>activeIndex</td>
      <td class="token keyword">getter</td>
      <td><%= getTranslation('public-field-activeIndex') %></td>
    </tr>
    <tr>
      <td>isBound</td>
      <td class="token keyword">getter</td>
      <td><%= getTranslation('public-field-isBound') %></td>
    </tr>
    <tr>
      <td>rootNode</td>
      <td class="token keyword">getter</td>
      <td><%= getTranslation('public-field-rootNode') %></td>
    </tr>
    <tr>
      <td>layerProgressArray</td>
      <td class="token keyword">getter</td>
      <td><%= getTranslation('public-field-layerProgressArray') %></td>
    </tr>
  </tbody>
</table>
