.fixed {
  position: fixed;
  top: 2em;
  bottom: 3em;
  left: 3em;
  right: 3em;
  z-index: 1;
}
.fixed__pager {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.fixed__logo {
  position: absolute;
  top: 0;
  left: 0;
}
.fixed__menu {
  position: absolute;
  top: 0;
  right: 0;
}
.fixed__about {
  position: absolute;
  bottom: 0;
  right: 0;
}
.logo,
.pager,
.menu,
.about {
  color: black;
}
.logo--contrast,
.pager--contrast,
.menu--contrast,
.about--contrast {
  color: white;
}
