<table>
  <thead>
    <tr>
      <th class="token property"><%= getTranslation('option') %></th>
      <th class="token property"><%= getTranslation('type') %></th>
      <th class="token property"><%= getTranslation('default') %></th>
      <th class="token property"><%= getTranslation('description') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>solidClassnameArray</td>
      <td class="token keyword">array</td>
      <td class="token punctuation">[]</td>
      <td><%= getTranslation('option-solidClassnameArray') %></td>
    </tr>
    <tr>
      <td>fromViewportWidth</td>
      <td class="token keyword">number</td>
      <td class="token number">0</td>
      <td><%= getTranslation('option-fromViewportWidth') %></td>
    </tr>
    <tr>
      <td>pagerThreshold</td>
      <td class="token keyword">number</td>
      <td class="token number">0.5</td>
      <td><%= getTranslation('option-pagerThreshold') %></td>
    </tr>
    <tr>
      <td>hasToUpdateHash</td>
      <td class="token keyword">boolean</td>
      <td class="token boolean">false</td>
      <td><%= getTranslation('option-hasToUpdateHash') %></td>
    </tr>
    <tr>
      <td>scrollAdjustThreshold</td>
      <td class="token keyword">number</td>
      <td class="token number">0</td>
      <td><%= getTranslation('option-scrollAdjustThreshold') %></td>
    </tr>
    <tr>
      <td>scrollAdjustDelay</td>
      <td class="token keyword">number</td>
      <td class="token number">600</td>
      <td><%= getTranslation('option-scrollAdjustDelay') %></td>
    </tr>
    <tr>
      <td>pagerLinkActiveClassname</td>
      <td class="token keyword">string</td>
      <td class="token string nowrap">pager-link-active</td>
      <td><%= getTranslation('option-pagerLinkActiveClassname') %></td>
    </tr>
    <tr>
      <td>isScrollHandled</td>
      <td class="token keyword">boolean</td>
      <td class="token boolean">true</td>
      <td><%= getTranslation('option-isScrollHandled') %></td>
    </tr>
    <tr>
      <td>debug</td>
      <td class="token keyword">boolean</td>
      <td class="token boolean">false</td>
      <td><%= getTranslation('option-debug') %></td>
    </tr>
    <tr>
      <td>on</td>
      <td class="token keyword">object</td>
      <td class="token punctuation">{}</td>
      <td><%= getTranslation('option-on') %></td>
    </tr>
  </tbody>
</table>
