@import './globals.scss';
@import './code-highlight.scss';
@import './typography.scss';

html {
  scroll-behavior: smooth;
  font-family: 'Questrial', sans-serif;
  letter-spacing: 0.01em;
}

// body {
//   $ruler-color: rgba(magenta, 0.2);
//   $ruler-gutter: $base * 1.5;
//   position: relative;
//   &:after {
//     content: '';
//     position: fixed;
//     z-index: 1;
//     top: 0;
//     height: 100%;
//     left: 0;
//     right: 0;
//     pointer-events: none;
//     background: linear-gradient(
//       to bottom,
//       transparent,
//       transparent $ruler-gutter - 1,
//       $ruler-color $ruler-gutter - 1,
//       $ruler-color
//     );
//     background-size: 100% $ruler-gutter;
//   }
// }

*::selection {
  background: $color-highlight;
  color: $color-secondary;
}
*::-moz-selection {
  background: $color-highlight;
  color: $color-secondary;
}

.section {
  min-height: 100vh;
  & > .section__col {
    min-height: 100vh;
  }
  &--long {
    min-height: 150vh;
    & > .section__col {
      min-height: 150vh;
    }
  }
}

.pt {
  padding-top: $base * 7.875;
  &--l {
    padding-top: $base * 3;
  }
}

.pb {
  padding-bottom: $base * 7.875;
}

.plpr {
  padding-left:  $col-width * 0.5;
  padding-right:  $col-width * 0.5;
}

.scroller-x {
  overflow-y: hidden;
}

a:hover,
a._hover {
  color: $color-active !important;
}

.background {
  background: $color-background;
  color: $color-background--contrast;
  &--contrast {
    background: $color-background--contrast;
    color: $color-text--contrast;
  }
}

.fixed {
  position: fixed;
  top: $base * 2;
  bottom: $base * 3;
  left: $base * 3;
  right: $base * 3;
  z-index: 1;

  &__pager {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__menu {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__social {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__face {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.logo {
  font-size: $base * 3;
  line-height: 1;
  color: $color-text;
  &--contrast {
    color: $color-text--contrast;
  }
}

.menu {
  $menu: &;
  display: flex;
  margin: 0 $base * -1;

  &__link {
    color: black;
    display: block;
    font-size: $base;
    line-height: 1;
    text-decoration: none;
    padding: $base * 1.62 $base;
  }
  &--contrast #{$menu}__link {
    color: $color-text--contrast;
  }
}

.pager {
  $pager: &;
  $pager-size: $base * 0.75;
  $shadow-width: 1.5px;
  $shadow-width-full: $pager-size * 0.5;
  &__link {
    display: block;
    margin: $pager-size 0;
    width: $pager-size;
    height: $pager-size;
    border-radius: 50%;
    box-shadow: inset 0 0 0 $shadow-width $color-text;
    transition: 0.2s box-shadow ease-in-out;
    &:hover,
    &._hover {
      box-shadow: inset 0 0 0 $shadow-width $color-active;
    }
    &--active {
      box-shadow: inset 0 0 0 $shadow-width-full $color-text;
      &:hover,
      &._hover {
        box-shadow: inset 0 0 0 $shadow-width-full $color-active;
      }
    }
  }

  &--contrast #{$pager}__link {
    box-shadow: inset 0 0 0 $shadow-width $color-text--contrast;
    &:hover,
    &._hover {
      box-shadow: inset 0 0 0 $shadow-width $color-active;
    }
    &--active {
      box-shadow: inset 0 0 0 $shadow-width-full $color-text--contrast;
      &:hover,
      &._hover {
        box-shadow: inset 0 0 0 $shadow-width-full $color-active;
      }
    }
  }
}

.social {
  a {
    color: $color-text;
    display: inline-block;
    margin-right: 0.8em;
  }
  &--contrast a {
    color: $color-text--contrast;
  }
}

.footer {
  color: $color-text;
  &--contrast {
    color: $color-text--contrast;
  }
}

.face {
  line-height: 0;
}

.highlighter {
  cursor: pointer;
}

.highlight {
  animation: highlight 1.5s linear infinite;
  &.section {
    animation: none;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      pointer-events: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      animation: highlight 1.5s linear infinite;
    }
  }
}

@keyframes highlight {
  25% {
    background: rgba($color-highlight, 0.5);
  }
  50% {
    background: transparent;
  }
  75% {
    background: rgba($color-highlight, 0.5);
  }
}
