@import './breakpoints.scss';
@import './grid.scss';

$color-background: white;
$color-background--contrast: black;
$color-text: black;
$color-text--contrast: white;
$color-active: red;
$color-highlight: rgba(lime, 0.5);

html {
  scroll-behavior: smooth;
  font-family: 'Questrial', sans-serif;
  letter-spacing: 0.01em;
}

.section {
  min-height: 100vh;
  & > .col {
    min-height: 100vh;
  }
  &--long {
    min-height: 150vh;
    & > .col {
      min-height: 150vh;
    }
  }
}

.content {
  padding: 11em $col-width * 0.5 11em;

  h1 {
    font-weight: normal;
  }
  h2 {
    $pseudo-bold: 0.05em;
    font-weight: normal;
    font-size: 1em;
    letter-spacing: $pseudo-bold * 0.5;
    text-shadow: $pseudo-bold 0 0 currentColor;
    margin-bottom: 0;
  }
  p {
    line-height: 1.5;
    margin-top: 0;
  }
  strong {
    font-weight: normal;
    text-decoration: underline;
  }
}

a:hover, a._hover {
  color: $color-active !important;
}

.background {
  background: $color-background;
  &--contrast {
    background: $color-background--contrast;
  }
}

.fixed {
  position: fixed;
  top: 2em;
  bottom: 3em;
  left: 3em;
  right: 3em;
  z-index: 1;

  &__pager {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__menu {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__social {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__face {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.logo {
  font-size: 2em;
  @media (min-width: 768px) {
    font-size: 3rem;
  }
  color: $color-text;
  &--contrast {
    color: $color-text--contrast;
  }
}

.menu {
  $menu: &;
  display: flex;

  &__link {
    color: black;
    display: block;
    margin-left: 1em;
    font-size: 1.5em;
    text-decoration: none;
    line-height: 1.75em;
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
  &--contrast #{$menu}__link {
    color: $color-text--contrast;
  }
}

.pager {
  $pager: &;
  &__link {
    display: block;
    margin: 12px 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1.5px $color-text;
    transition: 0.2s opacity ease-in-out;
    &:hover,
    &._hover {
      box-shadow: inset 0 0 0 1.5px $color-active;
    }
    &--active {
      box-shadow: inset 0 0 0 6px $color-text;
      &:hover,
      &._hover {
        box-shadow: inset 0 0 0 6px $color-active;
      }
    }
  }

  &--contrast #{$pager}__link {
    box-shadow: inset 0 0 0 1.5px $color-text--contrast;
    &:hover,
    &._hover {
      box-shadow: inset 0 0 0 1.5px $color-active;
    }
    &--active {
      box-shadow: inset 0 0 0 6px $color-text--contrast;
      &:hover,
      &._hover {
        box-shadow: inset 0 0 0 6px $color-active;
      }
    }
  }
}

.social {
  a {
    color: $color-text;
    display: inline-block;
    margin-right: 0.8em;
  }
  &--contrast a {
    color: $color-text--contrast;
  }
}

.footer {
  color: $color-text;
  &--contrast {
    color: $color-text--contrast;
  }
}

.face {
  line-height: 0;
}

.highlighter {
  cursor: pointer;
}

.highlight {
  animation: highlight 1.5s linear infinite;
  &.section {
    animation: none;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      pointer-events: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      animation: highlight 1.5s linear infinite;;
    }
  }
}

@keyframes highlight {
  25% {
    background: $color-highlight;
  }
  50% {
    background: transparent;
  }
  75% {
    background: $color-highlight;
  }
}