@use 'normalize.css/normalize';
@use 'simplebar/dist/simplebar';
@use './components/about';
@use './components/code-highlight';
@use './components/common';
@use './components/emoji';
@use './components/fixed';
@use './components/footer';
@use './components/header';
@use './components/language';
@use './components/logo';
@use './components/menu';
@use './components/pager';
@use './components/typography';
@use './components/highlighter';
