@use 'sass:color';

$color-primary: white;
$color-secondary: black;
$color-accent: magenta;
$color-highlight: cyan;
$color-marker: yellow;
$color-primary--muted: #999;
$color-secondary--muted: #666;

$color-background: $color-primary;
$color-background--contrast: $color-secondary;
$color-text: $color-secondary;
$color-text--contrast: $color-primary;
$color-active: $color-accent;

$color-code-background: color.scale($color-accent, $lightness: 90%, $saturation: -75%);
$color-code-background--contrast: color.scale($color-accent, $lightness: -70%, $saturation: -75%);
