@use 'sass:math';
@use './breakpoints' as *;

$alpha-width: 0;
$alpha-width--xl: 4;

$beta-width: 10;
$beta-width--xl: 7;

$gamma-width: 14;
$gamma-width--xl: 13;

$grid-width: $alpha-width + $beta-width + $gamma-width;

$col-width: math.div(1, $grid-width) * 100vw;

.grid {
  @include from('md') {
    display: flex;
  }

  &__content {
    padding-left: $col-width * 2;
    padding-right: $col-width * 2;
    @include from('sm') {
      padding-left: $col-width;
      padding-right: $col-width;
    }
    @include from('lg') {
      padding-left: $col-width * 0.5;
      padding-right: $col-width * 0.5;
    }
  }

  &__col {
    &--alpha {
      display: none;
    }

    @include from('md') {
      &--alpha-beta {
        $width: #{math.div($alpha-width + $beta-width, $grid-width) * 100}vw;
        flex-basis: $width;
        max-width: $width;
      }

      &--alpha-beta-gamma {
        $width: #{math.div($alpha-width + $beta-width + $gamma-width, $grid-width) * 100}vw;
        flex-basis: $width;
        max-width: $width;
      }

      &--beta {
        $width: #{math.div($beta-width, $grid-width) * 100}vw;
        flex-basis: $width;
        max-width: $width;
      }

      &--beta-gamma {
        $width: #{math.div($beta-width + $gamma-width, $grid-width) * 100}vw;
        flex-basis: $width;
        max-width: $width;
      }

      &--gamma {
        $width: #{math.div($gamma-width, $grid-width) * 100}vw;
        flex-basis: $width;
        max-width: $width;
      }
    }
    @include from('lg') {
      &--alpha {
        display: block;
        $width: #{math.div($alpha-width--xl, $grid-width) * 100}vw;
        flex-basis: $width;
        max-width: $width;
      }

      &--alpha-beta {
        $width: #{math.div($alpha-width--xl + $beta-width--xl, $grid-width) * 100}vw;
        flex-basis: $width;
        max-width: $width;
      }

      &--alpha-beta-gamma {
        $width: #{math.div($alpha-width--xl + $beta-width--xl + $gamma-width--xl, $grid-width) * 100}vw;
        flex-basis: $width;
        max-width: $width;
      }

      &--beta {
        $width: #{math.div($beta-width--xl, $grid-width) * 100}vw;
        flex-basis: $width;
        max-width: $width;
      }

      &--beta-gamma {
        $width: #{math.div($beta-width--xl + $gamma-width--xl, $grid-width) * 100}vw;
        flex-basis: $width;
        max-width: $width;
      }

      &--gamma {
        $width: #{math.div($gamma-width--xl, $grid-width) * 100}vw;
        flex-basis: $width;
        max-width: $width;
      }
    }
  }
}
$grid-width: $alpha-width + $beta-width + $gamma-width;
$col-width: math.div(1, $grid-width) * 100vw;
